{% extends 'post/main.html' %}{% load static %} {% block content %}
<!-- <h1>Accepted posts</h1> -->
<div class="container header-container">
    <div class="subreddit-display">
        <h1 id="overview" class="page-header">
            <span
                ><a
                    class="anchorjs-link"
                    href="#overview"
                    aria-label="Anchor link for: overview"
                    data-anchorjs-icon=""
                    style="
                        font-style: normal;
                        font-variant: normal;
                        font-weight: normal;
                        font-stretch: normal;
                        font-size: 1em;
                        line-height: inherit;
                        font-family: anchorjs-icons;
                        position: absolute;
                        margin-left: -1em;
                        padding-right: 0.5em;
                    "
                ></a
                >u/alphamaxnova1</span
            >
        </h1>
    </div>
</div>

<!-- posts -->
{% for post in posts %}
<div class="container post-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <pre>
        <h1 id = "PostHead" class="post-header"><span>{{post.header}}</span></h1>
        <p id = "PostHead" class="post-details"><span>Author: {{post.author}}</span></p>
        {%for link in post.links%}
    <p id = "PostDetails" class = "post-details">Links:<br></p><span><a href = {{link}}>{{link}}</a></span><br>
    <button type="button" class="btn btn-info" style = "float: right">Info</button>
    {% endfor %}
        
      </pre>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
