{% extends 'post/main.html' %}{% load static %} {% block content %}
<!-- <h1>Accepted posts</h1> -->
<div class="container header-container">
    <div class="subreddit-display">
        <h1 id="overview" class="page-header">
            <span
                ><a
                    class="anchorjs-link"
                    href="#overview"
                    aria-label="Anchor link for: overview"
                    data-anchorjs-icon=""
                    style="
                        font-style: normal;
                        font-variant: normal;
                        font-weight: normal;
                        font-stretch: normal;
                        font-size: 1em;
                        line-height: inherit;
                        font-family: anchorjs-icons;
                        position: absolute;
                        margin-left: -1em;
                        padding-right: 0.5em;
                    "
                ></a
                >Accepted Posts</span
            >
        </h1>
    </div>
</div>

<!-- posts -->
{{% for post in posts %}
<div class="container post-container">
    <div class="card" style="width: 60rem;">
        <!-- <img  src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{post.header}}</h5>
          <p class="card-text">Author: {{post.author}} <br> Links: {%for link in post.links%}<a href="{{link}}">{{link}}{% endfor %}</a></p>
          <a href="#" class="btn btn-primary">Go to Link</a>
        </div>
      </div>         
    </div>
</div>
<br>
<br>
{% endfor %}
{% endblock %}