<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #2F3061;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Insert Logo Link Here -->
            <a class="navbar-brand" href="#"><img src="" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
              <!-- Header Pages -->
                <li><a href="#" target="_blank">Page_1</a></li>
                <li><a href="#" target="_blank">Page_2</a></li>
                <li><a href="#" target="_blank">Page_3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><input class="form-control search-bar" type="text" placeholder="Search" aria-label="Search" ></li>
            </ul>
        </div>
    </div>
</nav> 
