<div class="container post-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <div class="bs-docs-section">
                <pre>
        <h1 id = "PostHead" class="post-header"><span>Header: {{post.header}}</span></h1>
        <h1 id = "PostHead" class="post-header"><span>Author: {{post.author}}</span></h1>
    <h2 id = "PostDetails" class = "post-details"><span>Links: <a href = {{link}}>{{link}}</a></span></h2>        
      </pre>
            </div>
        </div>
    </div>
</div>
