{% load static %}
<table class = 'table'>
    <thead>
        <th><p class = "text header">ID</p></th>
        <th><p class = "text header">Header</p></th>
        <th><p class = "text header">Accept</p></th>
        <th><p class = "text header">Reject</p></th>
    </thead>
    {% for post in posts %}
    <tbody>
        <th><p class = "text left">{{post.id}}</p></th>
        <td><a href="#" class = "text desc">{{post.header}}</a></th>
        <td><a class = "btn buttons accept" href="{% url 'accept_post' post.id %}">Accept</a></th>
        <td><a class = "btn buttons reject">Reject</a></th>
    </tbody>
    {% endfor %}
</table>
