{% extends 'post/main.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container header-container">
    <div class="subreddit-display">
        <h1 id="overview" class="page-header">
            <span>Which Subreddit?</span>
        </h1>
    </div>
</div>
<div class="container post-container">
  <div class="card" style="width: 40rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.header}}</h5>
      <p class="card-text">Author: {{post.author}} <br> Links: {%for link in post.links%}<a href="{{link}}">{{link}}{% endfor %}</a></p>
      <a href="#" class="btn btn-primary">Go to Link</a>
    </div>
  </div> 
  <br><br><br>
  <button type="button" class="btn btn-secondary btn-lg btn-block">Return to previous page</button>
</div> 
{% endblock %}
