{% extends 'post/main.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container header-container">
    <div class="subreddit-display">
        <h1 id="overview" class="page-header">
            <span>Which Subreddit?</span>
        </h1>
    </div>
</div>
<div class="container post-container">
    <div class="post-display">
        <h1 id="PostHead" class="post-header"><span>{{post.header}}</span></h1>
        <h4 id="PostAuthor" class="post-display">
            <span>Author: {{post.author}}</span>
        </h4>
        <h5 id="PostLinks" class="post-display"><span>Links:</span></h5>
        {%for link in post.links%}
        <h5>
            <a href="{{link}}">{{link}}</a>
        </h5>
        {% endfor %}
    </div>
    <br />
    <br />
    <br />
    <a
        href="{% url 'accepted_posts' %}"
        type="button"
        class="btn btn-secondary btn-lg btn-block"
    >
        Return to previous page
    </a>
</div>
{% endblock %}
