<table class = 'table'>
    <thead>
        <th><p class = "text header">S. No.</p></th>
        <th><p class = "text header">Header</p></th>
        <th><p class = "text header">Accept</p></th>
        <th><p class = "text header">Reject</p></th>
    </thead>
    <tbody>
        <th><p class = "text left">1</p></th>
        <td><a href="#" class = "text desc">Operating Systems Book</a></th>
        <td><button class = "buttons accept">Accept</button></th>
        <td><button class = "buttons reject">Reject</button></th>
    </tbody>
    <tbody>
        <th><p class = "text left">2</p></th>
        <td><a href="#" class = "text desc">Computer Architecture Book</a></th>
        <td><button class = "buttons accept">Accept</button></th>
        <td><button class = "buttons reject">Reject</button></th>
    </tbody>
</table>