.post-header {
	font-style: normal;
	font-size: 30px;
	/* background-color: black; */
}


.subreddit-display h1{
    /* color: #FBF9FF; */
/*    background-color: #D00000
*/}

.subreddit-display h1 span {
    color: #FBF9FF;    
    /* background-color: #A2A3BB */
}

.post-display h1 span {
    color: #419D78;    
    /* background-color: #A2A3BB */
}


.container.header-container h1 {
	padding-top: 70px;
}

.container.post-container {
	padding-top: 0px;
}

.bs-docs-section pre {
	background-color: #FBF9FF;
}


.post-details {
	font-style: normal;
	font-size: 20px;
}

