.navbar-expand-lg {
    min-height: 80px;
    color : White;
}

.navbar-brand{
    color: #FFFFFF;
}

.navbar{ 
    background-image: none;
}

.navbar {
    background-color: #2F3061;
}

#myNavbar {
    background-color:#2F3061;
    border-radius:0;
    z-index: 1000;
}  

.form-control.search-bar {
}

.textinput.textInput {
    border-radius: 4px;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: #FBF9FF;   
}

.control-label {
    color: #4E6E5D;
    text-align: left;
}

.asteriskField {
    color: #DB2763;
}

.btn.btn-outline-info {
    border-radius: 4px;
    background-color: #419D78;
    color: #FBF9FF;
}