.App {
    text-align: center;
}

/* Fix weird box around button on click */

*:focus {
    outline: none !important;
}

/* *.btn:focus,
*.btn:active {
    outline: none !important;
    box-shadow: none !important;
} */
